<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Chat</title>
      <!-- Link a font Lato -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  
      <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
      <script type="text/javascript" src="../../bootstrap/js/bootstrap.bundle.min.js"></script>
  
      <script type="text/javascript" src="views/common/bar.js"></script>
      <script type="text/javascript" src="utils/constants.js"></script>
      <script type="text/javascript" src="views/chatgptPage/chatgptPage.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  
      <link rel="stylesheet" href="/views/chatgptPage/chatgptPage.css">

</head>
<body onload="loadBar()">
  <div id="navbar"></div>
  <div class="text-center"><h1 style="font-family: 'Permanent Marker', cursive;"><b>Non sai dove andare?</b></h1></div>
  <div class="text-center"><h2 style="font-family: 'Permanent Marker', cursive;"><b>Chiedi aiuto all'intelligenza artificiale</b></h2></div>
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="card-body">
            <div id="chat-container" class="chat-container">
              <div class="chat-message">
                <div class="message">Ciao!</div>
              </div>
              <div class="chat-message">
                <div class="message">Chiedimi qualsiasi tipo di informazione su luoghi da visitare</div>
              </div><br>
              <!-- Add more chat messages here dynamically -->
            </div>
          </div>
        </div>
        <div class="input-group">
          <input id="message-input" type="text" class="form-control" placeholder="Type your message...">
          <div class="input-group-append">
            <button id="send-button" class="btn btn-primary" type="button">Send</button>
          </div>
        </div>
        <br>
        <div class="input-group d-flex justify-content-center">
          <button id="custom-button" class="btn" type="button" style="background-color: var(--primary-color);color:white">Reset Chat</button>
        </div>
        
      </div>
    </div>
  </div>

  
  <script>
    //CHAT PERMANENTE PER UTENTI REGISTRATI
    //if(document.cookie.logged != undefined){
      $(document).ready(function() {
      $.ajax({
        url: '/get-chat/', //TODO /get-chat in index.js questa chiamata ajax mi restituirà la lista di tutte le domande e le risposte che l'utente ha fatto, e mostrera la chat a schermo
        type: 'GET',
        success: function(response) {
        //TODO
        // crea una slide per ogni biglietto
        response.forEach(function(item) {
          $('#chat-container').append('<div class="chat-message"><div class="message"><b>' + item.domanda + '</b></div></div><br>');
          $('#chat-container').append('<div class="chat-message"><div class="message">' + item.risposta + '</div></div><br>');
          });    
        },
        error: function(xhr, status, error) {
          console.log("error")
        }
      });
    });
  //}

    // Funzione per inviare una richiesta AJAX al server
    function sendMessage(message) {
      $.ajax({
        url: "http://localhost:3000/message-processing",
        method: 'POST',
        data: { message: message },
        success: function(response) {
          // Aggiungi la risposta alla chat
          $('#chat-container').append('<div class="chat-message"><div class="message">' + response + '</div></div><br>');
        },
        error: function() {
          alert('Errore nella richiesta AJAX');
        }
      });
    }

    // Gestore di eventi per il click sul pulsante di invio
    $('#send-button').click(function() {
      var message = $('#message-input').val();
      if (message) {
        // Aggiungi il messaggio inviato alla chat
        $('#chat-container').append('<div class="chat-message"><div class="message"><b>' + message + '</b></div></div><br>');
        $('#message-input').val('');

        // Invia il messaggio al server
        sendMessage(message);
      }
    });

    // Gestore di eventi per la pressione del tasto Invio sulla tastiera
    $('#message-input').keypress(function(event) {
      if (event.which === 13) {
        event.preventDefault();
        var message = $(this).val();
        if (message) {
          // Aggiungi il messaggio inviato alla chat
          $('#chat-container').append('<div class="chat-message"><div class="message"><b>' + message + '</b></div></div><br>');          
          $(this).val('');

          // Invia il messaggio al server
          sendMessage(message);
        }
      }
    });
  </script>

</body>

</html>
